body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
span{
    color: navy;
}
.s1{
    display:flex;
    width: 100%;
    background-image: linear-gradient(rgb(194, 82, 104), chocolate);
}
.x{
    color:rgb(78, 65, 49);
    text-decoration:none;
    background-image:linear-gradient(aqua,orange);
    padding: 10px 40px;
    border-radius: 10px;  
}


.s2{
    display:flex;
    background-image: linear-gradient(rgb(194, 82, 104), chocolate);

}
.d1{
    width: 50%;
    padding: 2px;
}
.x1{
    color:rgb(78, 65, 49);
    text-decoration:none;
    background-image:linear-gradient(aqua,orange);
    padding: 10px 40px;
    border-radius: 10px;  
}
.h8{
    display: flex;
    width: 80%;
    padding: 2%; 
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.c1{
    box-shadow: 10px 10px 40px rgb(95, 81, 81);
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid tomato;
}
.c2{
    box-shadow: 10px 10px 40px rgb(95, 81, 81);
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 10px solid navy;
}
footer{
    text-align: center;
}

